
body {
    background-color: cornsilk;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 150px;
    background-color: rgb(247, 203, 121);
    color: rgb(87, 17, 17);
    text-align: center;
}


.jumbotron {
    background-image: url(IMG_3815.JPG);
    background-size: cover;
    min-height: 150px;
}

.jumbotron h1 {
    padding-top: 20px;
    color: rgb(250, 186, 160);
}

.search-container h4 {
    color: rgb(87, 17, 17);
}

.search-container button {
    background-color: burlywood;
    color: rgb(87, 17, 17);
    border-radius: 5px;
}

.search-container input {
    background-color: rgb(250, 248, 245);
    border-radius: 5px;
}

.previous-searches
{
    background-color: burlywood;
    color: rgb(87, 17, 17);
    border-radius: 5px;
}

.city-heading {
    text-align: center;
    color: rgb(87, 17, 17)
}

.forecast, .future-forecast {
    margin:auto;
    max-width: 800px;
    border: solid rgb(87, 17, 17) 1px;
    border-radius: 10px;
    text-align: center;
    color: rgb(87, 17, 17)
}

.uv-low {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: rgb(5, 179, 5);
    margin-left: auto;
    margin-right: auto;
}
.uv-moderate {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: rgb(255, 252, 60);
    margin-left: auto;
    margin-right: auto;
}
.uv-high {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}
.uv-very-high {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: red;
    margin-left: auto;
    margin-right: auto;
}
.uv-extreme {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: rgb(190, 33, 221);
    margin-left: auto;
    margin-right: auto;
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
#forecast-main {
    padding-bottom: 60px;
}