
body {
    background-color: cornsilk;
}

.jumbotron {
    background-image: url(IMG_3815.JPG);
    background-size: cover;
    min-height: 150px;
}

.jumbotron h1 {
    padding-top: 20px;
    color: white;
}

.search-container h4 {
    color: rgb(87, 17, 17);
}

.search-container button {
    background-color: burlywood;
    color: rgb(87, 17, 17);
    border-radius: 5px;
}

.search-container input {
    background-color: rgb(250, 248, 245);
    border-radius: 5px;
}

.previous-searches
{
    background-color: burlywood;
    color: rgb(87, 17, 17);
    border-radius: 5px;
}

.city-heading {
    text-align: center;
}

.forecast {
    margin:auto;
    max-width: 800px;
    border: solid gray 1px;
    border-radius: 10px;
}

.uv-low {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: rgb(5, 179, 5);
}
.uv-moderate {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: rgb(255, 252, 60);
}
.uv-high {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: orange;
}
.uv-very-high {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: red;
}
.uv-extreme {
    max-width: 75px;
    max-height: 75px;
    border: solid gray 1px;
    border-radius: 5px;
    background-color: rgb(190, 33, 221);
    
}
